<div id="signup-block" class="w-full flex flex-row bg-slate-500 bg-opacity-65 rounded-xl">
  <div id="signup-form-container" class="w-fit bg-slate-400 bg-opacity-45 rounded-lg px-5 py-6">
    <h2 class="text-5xl">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field mt-3">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autocomplete: "last_name" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions mt-5">
        <%= f.submit "Sign up", class: " w-full px-3 py-2 bg-blue-500 rounded-lg" %>
      </div>
    <% end %>
  </div>
  <div id="block-image-container" >
    <%= image_tag 'lets-play-football.webp', alt: "kid kicking football dramatically", class: "rounded-2xl w-fit"  %>
  </div>
</div>
